/* Catalog */
.extended-small .teaser, .extended-large .teaser {
  margin-left: 5px;
  margin-right: 5px;
}
#threads .thread {
  margin: 2px 1px 0 0;
}
/* Native Catalog */
#ctrl {
  padding-top: 4px;
}
#threads {
  padding: 10px 0 !important;
}
/* Catalog Comment */
:root.catalog-justify .teaser,
:root.catalog-justify .catalog-post > .postMessage {
  text-align: justify !important;
}
/* Background */
:root.catalog-background #threads div.thread,
:root.catalog-background .catalog-thread {
  background: rgba(var(--sc-mainColor-rgb), var(--sc-replyOp)) !important;
}
:root.rounded-corners.catalog-background #threads div.thread,
:root.rounded-corners.catalog-background .catalog-thread {
  border-radius: 3px !important;
}
:root.catalog-background .teaser,
:root.catalog-background .catalog-post > .postMessage {
  margin: 0 5px 5px 5px;
}
:root.catalog-background .thumb,
:root.catalog-background img.catalog-thumb  {
  margin-top: 8px;
}
:root.catalog-background .extended-large .thread {
  min-height: 410px;
}
:root.catalog-background .extended-small .thread {
  min-height: 320px;
}
/* Thumbnails */
:root.catalog-thumbsize .thumb,
:root.catalog-thumbsize img.catalog-thumb  {
  width: 150px !important;
  height: 150px !important;
}
:root.catalog-thumbsize #threads.large .thumb,
:root.catalog-thumbsize #threads.extended-large .thumb,
:root.catalog-thumbsize #delform>.catalog-large img.catalog-thumb  {
  width: 250px !important;
  height: 250px !important;
}
