/* Text Colors */
/* General */
body,
div.boardBanner,
#menu,
input,
textarea,
a.summary,
.pages.cataloglink a,
.pages strong>a,
#qr-filename-container,
#post-preview,
.post-last,
.pln,
select,
.captcha-root,
#t-root,
#t-task,
#t-load,
#t-next,
.tegaki-label,
.dd-menu ul,
.boxbar,
.postblock,
.globalMessage,
table.postForm tr td {
  color: var(--sc-textColor) !important;
}
/* Names */
.nameBlock:not(.capcodeMod)>.name,
.com,
.post-author {
  color: var(--sc-nameColor) !important;
}
.nameBlock.capcodeMod,
:root:not(.fourchan-x) span.capcodeMod span.name,
:root:not(.fourchan-x) span.capcodeMod strong.capcode {
  color: #800080 !important;
}
.id_admin,
.nameBlock.capcodeAdmin span.name {
  color: #F00 !important;
}
/* Tripcodes */
.nameBlock>.postertrip,
.post-tripcode,
.tag {
  color: var(--sc-tripColor) !important;
}
/* Links */
a:not(s>a),
a.replylink:not(:hover),
a:visited,
s:hover>a:not(:hover),
:root .typ,
:root .atn,
a.postMenuBtn,
body.is_catalog .button,
:root.catalog-mode .button,
:root .options-button,
:root .tegaki-tb-btn,
#arc-list .quotelink {
  color: var(--sc-linkColor) !important;
}
:root a:hover,
:root div.post div.postInfo span.postNum a:hover,
body.is_catalog .button:hover,
:root.catalog-mode .button:hover,
.lit,
.tegaki-tb-btn:hover,
#import-link>.options-button:hover,
#arc-list .quotelink:hover {
  color: var(--sc-linkHColor) !important;
}
/* Header */
#header-bar,
a.current,
:root:not(.fourchan-x) .boardSelect .customBoardList,
:root:not(.fourchan-x) .boardSelect {
  color: var(--sc-headerColor) !important;
}
#header-bar a:not(.current),
:root:not(.fourchan-x) div#boardNavMobile,
:root:not(.fourchan-x) .boardSelect .customBoardList a,
:root:not(.fourchan-x) div.pageJump a {
  color: var(--sc-headerLColor) !important;
}
#header-bar a:hover,
:root:not(.fourchan-x) div#boardNavMobile a:hover {
  color: var(--sc-headerLHColor) !important;
}
#custom-board-list .current {
  border-bottom: 1px solid rgba(var(--sc-linkColor-rgb),1) !important;
}
#custom-board-list .current:hover {
  border-bottom: 1px solid rgba(var(--sc-linkHColor-rgb),1) !important;
}
:root:not(.fourchan-x) div#boardNavMobile {
  background-color: var(--sc-headerBGColor);
  border-bottom-color: var(--sc-brderColor);
}
/* Greentext */
.postMessage>.quote,
s:hover .quote,
.str,
.atv,
.new,
.catalog-thread > .comment > .quote {
  color: var(--sc-quoteColor) !important;
}
/* Subject and Option labels */
.subject,
.replytitle,
.teaser b,
.post-subject,
.option.header .option-title,
.kwd,
.tab-label {
  color: var(--sc-titleColor) !important;
}
.option.header {
  font-size: 140%;
}
/* Board Title */
.boardTitle {
  color: var(--sc-boardColor) !important;
  text-shadow: none !important;
}
/* Backlinks */
:root .backlink, 
:root .backlink.deadlink {
  color: var(--sc-blinkColor) !important;
}
:root.backlink-shadow .backlink {
  text-shadow: 1px 1px 5px;
}
:root .quotelink,
:root .deadlink {
  color: var(--sc-qlColor) !important;
}
/* Code Tags */
.prettyprint,
.catalog-code {
  background: none repeat scroll 0 0 rgba(var(--sc-codeBackground)) !important;
  border: 1px solid rgba(var(--sc-codeBorder)) !important;
}
.pun,
#qr-no-file,
::placeholder,
#t-load:disabled,
:root.single-captcha #t-next:not(.is-ready),
:root:not(.single-captcha) #t-next:disabled {
  color: rgba(var(--sc-textColor-rgb),.4) !important;
}
/* Backgrounds */
body {
  background: var(--sc-bgImg) var(--sc-bgColor) !important;
}
.reply,
body.is_catalog .panel,
:root.catalog-mode .panel,
.dialog,
#post-preview,
#tegaki,
.boxbar,
:root.op-background .op:not(.inline .op),
.flashListing tr:nth-of-type(2n+1):not(.highlightPost),
.dd-menu ul,
:root.catalog-hover-expand .catalog-container:hover > .post,
#threadWatcher,
#qrHeader,
#qrCaptchaContainer,
table.postForm tr td {
  background: rgba(var(--sc-mainColor-rgb), var(--sc-replyOp))!important;
}
.tab-label,
#fourchanx-settings,
#oneechan-options {
  background: rgb(var(--sc-mainColor-rgb)) !important;
}
:root.recolor-even .thread>.replyContainer:nth-of-type(even):not(.hidden) .post:not(.reply:target, .inline>.postContainer>.post),
.flashListing tr:nth-of-type(2n):not(.highlightPost),
:root:not(.fourchan-x) .reply.highlight {
  background: rgb(var(--sc-mainColor-shiftM10), var(--sc-replyOp)) !important;
}
:root:not(.header-gradient) #header-bar {
  background: rgba(var(--sc-headerBGColor-rgb), var(--sc-navOp)) !important;
}
:root.header-gradient #header-bar {
  background: linear-gradient(rgb(var(--sc-headerBGColor-shift15)),rgba(var(--sc-headerBGColor-rgb), var(--sc-navOp))) !important;
}
:root.header-shadow #header-bar,
.captcha-root div,
#t-root,
#qrCaptchaContainer {
  box-shadow: none !important;
}
:root:not(.fixed) #header-bar {
  background: none !important;
}
.options-button,
.qr-link,
.pages.cataloglink,
.pages strong>a,
input[value='Next'],
input[value='Previous'],
#quickReply input[type=submit],
#postForm input[type=submit] {
  background: linear-gradient(rgb(var(--sc-mainColor-shift15)), rgb(var(--sc-mainColor-rgb))) !important;
}
.options-button:hover,
.import-input:hover + .options-button,
.pages strong>a:hover,
.dd-menu li:hover,
input[value='Next']:hover,
input[value='Previous']:hover,
#quickReply input[type=submit]:hover,
#postForm input[type=submit]:hover {
  background: rgb(var(--sc-mainColor-shift15));
}
.focused.entry {
  background: rgb(var(--sc-mainColor-shift10)) !important;
}
.qr-link:hover,
:root.vertical-qr #qr .move {
  background: rgb(var(--sc-mainColor-rgb));
}
input[type=text],
input.field,
#qr input,
textarea,
#qr-filename-container,
select,
.captcha-root > div,
#t-root,
#t-load,
#t-next {
  background: var(--sc-inputColor) !important;
  transition: background .2s, color .2s, border-color .2s !important;
}
input[type=checkbox] {
  background: rgb(var(--sc-inputColor-shift25)) !important;
}
input[type=text]:hover,
input.field:hover,
#qr input:hover,
input[type=checkbox]:hover,
#qr-filename-container:hover,
textarea:hover,
select:hover,
#t-load:hover,
#t-next:hover {
  background: rgb(var(--sc-inputColor-hover)) !important;
}
hr {
  background-image: linear-gradient(to left, rgba(var(--sc-brderColor-rgb),0), rgb(var(--sc-brderColor-rgb)), rgba(var(--sc-brderColor-rgb),0));
}
/* Unread line */
#unread-line {
  background-image: linear-gradient(to left, rgba(var(--sc-unreadColor-rgb),0), rgb(var(--sc-unreadColor-rgb)), rgba(var(--sc-unreadColor-rgb),0));
}

.newPostsMarker,
.newPostsMarker:not(#quote-preview) {
  box-shadow: 0 3px rgb(var(--sc-unreadColor-rgb)) !important;
}
.inline {
  background: rgba(var(--sc-mainColor-shiftM16),.8)!important;
}
:root.post-info .reply>.postInfo {
  background: rgba(var(--sc-mainColor-shiftM16),.2);
  border-bottom: 1px solid rgb(var(--sc-mainColor-shift4));
}
/* Borders */
.reply,
:root.op-background .op:not(#qp .op, .inline .op),
.dd-menu ul {
  border-width: 0 1px 1px 0;
  border-style: solid;
}
:root.borders-all .reply,
:root.borders-all.op-background .op {
  border-width: 1px !important;
}
:root.borders-none .reply,
:root.borders-none.op-background .op {
  border: 0 !important;
}
#menu,
.catalog-thumb {
  border-radius: 0 !important;
}
:root.rounded-corners #menu,
:root.rounded-corners .thumb,
:root.rounded-corners .reply,
:root.rounded-corners .panel,
:root.rounded-corners #t-load,
:root.rounded-corners #t-next,
:root.rounded-corners .inline,
:root.rounded-corners #updater,
:root.rounded-corners a.qr-link,
:root.rounded-corners #add-theme,
:root.rounded-corners .dd-menu ul,
:root.rounded-corners #thread-stats,
:root.rounded-corners #bannerCnt img,
:root.rounded-corners .catalog-thumb,
:root.rounded-corners #threadWatcher,
:root.rounded-corners .preview-border,
:root.rounded-corners .options-button,
:root.rounded-corners label.tab-label,
:root.rounded-corners .pages strong>a,
:root.rounded-corners #qrSpoiler label,
:root.rounded-corners #oneechan-options,
:root.rounded-corners .color-picker-btn,
:root.rounded-corners.op-background .op,
:root.rounded-corners .pages.cataloglink,
:root.rounded-corners input[value='Next'],
:root.rounded-corners input[value='Previous'],
:root.rounded-corners .dialog:not(#header-bar),
:root.rounded-corners .fileThumb img:not(.full-image),
:root.rounded-corners.werkTyme .catalog-thread:not(:hover),
:root.rounded-corners.werkTyme:not(.catalog-hover-expand) .catalog-thread,
:root.rounded-corners.catalog-hover-expand .catalog-container:hover > .post,
:root.rounded-corners.catalog-hover-expand .catalog-container:hover .catalog-reply  {
  border-radius: 3px !important;
}
:root.post-info.rounded-corners .reply>.postInfo,
:root.rounded-corners #qr,
:root.rounded-corners #quickReply,
:root.rounded-corners:root.vertical-qr #qr > .move {
  border-radius: 3px 3px 0 0 !important;
}
:root:not(.rounded-corners) #post-preview {
  border-radius: 0 !important;
}
#qr-file-button,
#file-n-submit > input {
  border-radius: 0 !important;
}
.reply,
:root.op-background .op,
.dialog,
.entry,
.inline,
fieldset,
#post-preview,
.flashListing td:not(:last-of-type):not(.postblock),
:root.vertical-qr #qr .move,
#qr select,
select,
#quickReply {
  border-color: var(--sc-brderColor) !important;
}
.dd-menu li {
  border-bottom: var(--sc-brderColor) !important;
}
input,
textarea,
#qr-filename-container,
.captcha-img,
:root.vertical-qr #qr .move,
#qr select,
select,
.postblock,
#post-preview,
.captcha-root,
#quickReply,
#threadWatcher,
table.postForm tr td,
#t-root,
#t-load,
#t-next,
.dd-menu ul,
:root.werkTyme .catalog-thread:not(:hover),
:root.werkTyme:not(.catalog-hover-expand) .catalog-thread,
:root.catalog-hover-expand .catalog-container:hover > .post,
:root.catalog-hover-expand .catalog-container:hover .catalog-reply {
  border: 1px solid var(--sc-inputbColor) !important;
}
.options-button,
.qr-link,
.pages.cataloglink,
.pages strong>a,
input[value='Next'],
input[value='Previous'] {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(var(--sc-mainColor-shiftM15)) rgb(var(--sc-mainColor-shiftM15)) rgb(var(--sc-mainColor-shiftM30)) !important;
}
a.quotelink.forwardlink, a.backlink.forwardlink {
  border-bottom: 1px dashed;
}
input[type=text]:focus,
input.field:focus,
#qr input:focus,
textarea:focus,
#qr-filename-container:focus,
#qr-filename-container.focus,
select:focus,
#t-load:focus,
#t-next:focus {
  border: 1px solid var(--sc-linkColor) !important;
}
#search-box:hover,
#index-search:hover,
.captcha-img:hover {
  border-color: var(--sc-linkColor) !important;
}
#header-bar {
  border: none !important;
}
.flashListing td:not(:last-of-type):not(.postblock) {
  border-width: 1px;
  border-style: solid;
}
:root.header-highlight #custom-board-list .current:hover,
:root.header-highlight #custom-board-list .current {
  border-bottom: none !important;
}
/* 4chan X Menu */
.suboption-list > div:last-of-type {
  background: rgba(var(--sc-mainColor-rgb), var(--sc-replyOp))!important;
}
.suboption-list > div::before,
.suboption-list::before {
  border-color: var(--sc-brderColor) !important;
  left: 0.5em !important;
}
/* Shadows */
#navlinks a {
  text-shadow:var(--sc-mainColor) -1px -1px,
  var(--sc-mainColor) 1px -1px,
  var(--sc-mainColor) -1px 1px,
  var(--sc-mainColor) 1px 1px,
  var(--sc-mainColor) -1px 0,
  var(--sc-mainColor) 1px 0,
  var(--sc-mainColor) 0 -1px,
  var(--sc-mainColor) 0 1px,
  rgba(0,0,0,.6) 0 2px 4px,
  rgba(0,0,0,.6) 0 0 2px;
}
.thumb {
  box-shadow: 0 0 5px rgba(0,0,0,.25);
}
#qr,
#thread-watcher,
#threadWatcher {
  box-shadow: 1px 1px 3px rgba(0,0,0,.1) !important;
}
/* Closed Threads */
.closed {
  margin-top: 10px;
  color: red;
}
/* /f/ */
#swf-embed-header.postblock {
  border: 1px solid var(--sc-brderColor) !important;
  background-color: rgba(var(--sc-headerBGColor-rgb), var(--sc-navOp)) !important;
  color: var(--sc-linkColor) !important;
}
#swf-embed-close {
  right: 1px !important;
}
/* 4chan XT: fxtwitter embed card */
.fxt-card {
  color: var(--sc-textColor) !important;
  background-color: rgba(var(--sc-bgColor-rgb), var(--sc-replyOp)) !important;
  border: 1px solid var(--sc-brderColor) !important;
}
/* Alternative Spoiler Color */
:root.alt-spoiler .span.spoiler,
:root.alt-spoiler s,
:root.alt-spoiler s:not(:hover)>a,
:root.alt-spoiler s:not(:hover)>.linkify {
  color: #fff;
  background: none repeat scroll 0 0 #fff;
}
:root.alt-spoiler span.spoiler:hover,
:root.alt-spoiler s:hover,
:root.alt-spoiler span.spoiler:focus,
:root.alt-spoiler s:focus {
  color: #000;
}
