/* Reset 4chan hardcoded fonts */
input,
select,
textarea,
button,
::placeholder, 
form,
span,
a.qr-link,
.entry,
#qrCaptchaContainer,
#captchaFormPart,
tr#captchaFormPart td div#t-root,
div.captcha-root div,
input#search-box,
table.flashListing td,
.persistentNav, div#boardNavMobile,
#togglePostFormLink,
div#topnav.boardnav,
div#boardNavMobile option,
div.boardBanner div.boardTitle,
:root.fourchan-x div.boardBanner div.boardTitle,
#post-preview {
  font-family: inherit !important;
  font-size: inherit !important;
}
/* Base font */
body {
  font-family: " + ($SS.conf["Custom Font"] ? "'" + $SS.conf["Custom Font"] + "'" : $SS.formatFont($SS.conf["Font Family"])) + " !important;
  font-size: " + $SS.conf["Font Size"] + "px !important;
}
:root.anonymize .name::before,
:root.shortcut-icons #shortcuts .fa::before,
.entry,
.dd-menu {
  font-size: " + $SS.conf["Font Size"] + "px !important;
}
/* Slightly smaller */
.fileText,
.meta,
.summary,
.catalog-stats {
  font-size: 82% !important;
}
/* Board title -> larger */
div.boardBanner div.boardTitle,
:root.fourchan-x div.boardBanner div.boardTitle {
  font-weight: normal !important;
  font-size: " + (($SS.conf["Font Size"] < 13) ? 22 : 26) + "px !important;
}
/* Code blocks */
.prettyprint span {
  font-family: monospace !important;
  font-size: medium !important;
}
/* Header bar & board list -> slightly smaller */
#full-board-list,
body>#header-bar,
#full-board-list .fourchanx-link {
  font-size: " + ($SS.conf["Font Size"] - 1) + "px !important;
}
@media (min-width: 1280px) and (max-width: 1920px) {
  #board-list {
    word-spacing: " + (($SS.conf["Font Size"] < 14) ? -1 : -2) + "px;
  }
}
/* 4chanX anonymize override */
:root.anonymize .name,
:root.sw-yotsuba.anonymize .post-author:not([class*=capcode]) {
  font-size: 0 !important;
}
/* Backlinks */
:root:not(.backlink-icon) .container :is(.backlink, .hashlink) {
  font-size: " + $SS.conf["Backlink Font Size"] + "px !important;
}
/* Options panels + others -> capped to not break */
.tab-label,
.options-button,
.theme-preview,
#oneechan-options,
#fourchanx-settings,
.UIPanel,
.panel,
a.options-button,
.pagelist.desktop,
div#twHeader,
a.qr-link {
  font-size: " + (($SS.conf["Font Size"] >= 18) ? 18 : ($SS.conf["Font Size"] <= 9 ? 9 : $SS.conf["Font Size"])) + "px !important;
}
/* UI font size */
#qr-file-button,
#qr input[type=submit],
#qr label,
#qr .move,
#qr-no-file,
select:not([id^=index-]):not([id$=-ctrl]):not(#boardSelectMobile, #oneechan-options select, #add-theme select, #fourchanx-settings select),
:root #t-load,
:root #t-next,
:root #t-task,
.hide-reply-button,
.hide-thread-button,
span#qr-filename-container {
  font-size: " + $SS.conf["UI Font Size"] + "px !important;
}
/* QR extra */
#qr-file-button,
#qr input[type="submit"],
#qr label {
  text-transform: uppercase;
}
#qr label {
  overflow: hidden;
  padding-bottom: 2px;
}
/* Text decoration */
:root.underline-disabled a {
  text-decoration: none !important;
}
.navLinks.navLinksBot.desktop a {
  text-decoration: underline;
}
:root.underline-disabled .filtered {
  text-decoration: line-through !important;
}
.deadlink.quotelink {
  text-decoration: none !important;
}
:root.underline-quotes .deadlink.quotelink,
:root.underline-quotes .quotelink,
:root.underline-quotes .deadlink.backlink,
:root.underline-quotes .backlink {
  text-decoration: underline !important;
}
a.options-button,
#oneechan-version a {
  text-decoration: none !important;
}
.closed {
  text-align: center;
}
/* Font weight */
.name,
.subject,
.option.header .option-title,
a.current,
.tab-label.selected {
  font-weight: " + ($SS.conf["Bitmap Font"] ? "normal" : "bold") + " !important;
}
.tab-label:not(.selected):not(:hover) {
  font-weight: normal;
  opacity: 0.85;
}
/* /f/ */
.postblock {
  font-weight: bold;
}
/* Font Style */
.summary {
  font-style: " + ($SS.conf["Bitmap Font"] ? 'none' : 'italic') + ";
}
