/* Side Margins */
body {
  margin-left: " + $SS.conf["Margin Left"] + "px;
  margin-right: " + $SS.conf["Margin Right"] + "px;
  margin-top: 0;
  margin-bottom: 0;
}
/* Fix margin top when fixed top header */
:root.show-ads .ad-cnt {
  margin-top: auto !important;
}
/* Replies */
:not(.fourchan-x) div.op {
  display: block;
}
.postInfo {
  padding: 5px 13px;
  display: block !important;
}
.summary {
  margin-left: 2px;
}
.expanded-image {
  position: relative;
}
:root.op-background .op {
  padding: 4px 0;
}
:root.force-indent .op {
  margin-left: -12px;
}
:root.force-wrapping .op::after {
  clear: both;
  content: '';
  display: block;
}
.thread>.replyContainer:not(.thread>.postContainer:last-of-type),
.threadContainer>.replyContainer,
:root.op-background .thread>.opContainer:not(.thread>.postContainer:last-of-type) {
  margin-bottom: " + ($SS.conf["Margin Between Replies"] !== '' ? $SS.conf["Margin Between Replies"] : '0') + "px !important;
}
.container~.inline {
  margin: 2px 0 2px 13px !important;
}
:root.bottom-backlinks .container~.inline {
  margin: 0 13px 2px !important;
}
:root.bottom-backlinks .container~.inline:last-of-type:not(.inline .hasInline .inline) {
  margin-bottom: 3px !important;
}
#qp .op>.postInfo {
  min-width: 600px;
}
.postMessage {
  margin: " + $SS.conf["Margin Post Message"] + " !important;
}
:root.bottom-backlinks .container {
  padding-left: 8px;
}
:root.bottom-backlinks .post:not(:root.op-background .op) .container:not(:empty) {
  padding-bottom: 4px;
}
/* Fit Expanded Images option */
:root.fit-eximg.fit-height .full-image {
  max-height: calc(100vh - 8rem) !important;
}
/* Fit Width option */
:root.reply-fit-width .reply.post {
  display: block !important;
}
:root.reply-fit-width .stub ~ .reply.post {
  display: none !important;
}
.hasInline .inline>.replyContainer:not(.expanded-image):not(.hasInline) .reply.post,
:root.reply-fit-width .post.reply {
  overflow: hidden !important;
}
:root.reply-fit-width .expanded-image>.post::after,
:root.reply-fit-width .hasInline>.reply.post::after {
  clear: both !important;
  content: '' !important;
  display: block !important;
}
.threadContainer .hide-reply-button {
  margin-left: -12px !important;
}
.stub {
  padding: 2px;
}
.stub > a.show-thread-button {
  margin-right: 4px;
}
:root.reply-hide .thread>.expanded-image>.reply,
:root.reply-hide .thread>.hasInline>.reply {
   margin-left: 12px !important;
}
/* Quote Threading */
.threadContainer {
  margin-left: 0 !important;
  padding-left: 20px!important;
}
:root.reply-hide .thread>.threadContainer {
   margin-left: 13px !important;
}
/* Style Post Info option */
:root.post-info .reply>.postInfo {
  box-shadow: inset rgba(0,0,0,.05) 0 -1px 2px;
  padding-top: 2px !important;
}
:root.post-info .inline .reply,
:root.post-info #hoverUI .reply {
  padding: 0 0 1px !important;
}
/* Menu button */
.reply .menu-button i {
  position: relative;
  bottom: 1px;
}
:root.reply-fit-width .reply .container {
  padding-right: 5px;
}
:root.reply-fit-width.fit-postmenu .postInfo > .menu-button,
:root.reply-fit-width.fit-postmenu .postInfo > .postMenuBtn {
  float: right !important;
}
:root.reply-fit-width.fit-postmenu .postInfo > .postMenuBtn {
  margin: 2px 20px 0 0;
}
.menu-button + .container:not(:empty),
.container {
  margin-left: 4px !important;
}
:root.reply-fit-width .post .menu-button {
  margin-left: 0;
  position: relative;
  opacity: 0;
}
:root.reply-fit-width .post .postMenuBtn {
  position: relative;
  opacity: 0;
}
:root.reply-fit-width .post:not(:hover) .menu-button,
:root.reply-fit-width .post:not(:hover) .postMenuBtn {
  transition: opacity .3s ease-out 0s !important;
}
:root.reply-fit-width .post:hover .menu-button,
:root.reply-fit-width .post:hover .postMenuBtn {
  opacity: 1;
  transition: opacity .3s ease-in .1s !important;
}
/* Code Tags */
.prettyprint {
  padding: 5px !important;
  display: block;
  max-height: 400px;
  overflow-x: auto;
  max-width: 100%;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
/* Checkboxes */
input[type=checkbox],
input[type=button],
input[type=submit] {
  cursor: pointer;
}
input[type=checkbox] {
  display: inline-block;
  height: 12px !important;
  position: relative;
  width: 12px !important;
  border-radius: 2px !important;
  appearance: none;
  margin: 0 2px -1px 0;
}
input[type=checkbox]:checked::before {
  content: '✓';
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 11px;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  color: var(--sc-textColor);
}
/* Override the cleanup but only for the post menu */
div#menu.dialog label.toggle-you.entry input {
  display: inline-block;
  top: 0;
}
/* Header */
#header-bar {
  padding: 4px 4px 5px !important;
}
/* Reposition things based on Header position */
:root:not(.fixed) #header-bar {
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid;
}
:root.autohide body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
:root:not(.fixed).right-sidebar #header-bar {
  right: 300px;
}
:root:not(.fixed).left-sidebar #header-bar {
  left: 300px;
}
:root:not(.fixed).fourchan-x .boardBanner {
  top: 1px;
}
.center,
.danbo-slot {
  margin: 5px !important;
}
#full-board-list>a,
.navSmall>a {
  margin-left: 2px;
}
:root.fixed:not(.autohide):not(.bottom) #globalMessage:not([hidden]) {
  margin: 10px 0 20px !important;
}
.globalMessage, h2, h3 {
  margin: auto;
}
#custom-board-list,
#full-board-list,
.shortcut {
  vertical-align: baseline !important;
}
/* Thread Watcher */
:root.fixed-watcher #thread-watcher,
:root.fixed-watcher #threadWatcher {
  position: fixed !important;
}
/* QR link */
a.qr-link {
  border-radius: 0;
  vertical-align: middle;
  padding: 7px 12px 6px;
}
/* HRs */
hr {
  height: 2px;
  width: 600px;
  border: none !important;
}
:root.reply-fit-width #unread-line {
  margin: auto;
  width: 100%;
}
#unread-line {
  margin-top: " + (($SS.conf["Margin Between Replies"] < -2) ? ($SS.conf["Margin Between Replies"] - 1) : -3) + "px !important;
  margin-bottom: " + (($SS.conf["Margin Between Replies"] < -2) ? -5 : -3) + "px !important;
  position: relative;
}
/* Scroll Marker */
:root:not(.autohide) #scroll-marker {
  pointer-events: none !important;
}
/* Board Title */
.boardBanner .boardTitle {
  cursor: default;
  letter-spacing: -2px;
  padding-top: .1em;
}
/* Banner */
#bannerCnt {
  border: 0 !important;
  margin: 0 auto;
  width: 300px;
  max-height: 100px !important;
  max-width: 100%;
}
.boardBanner {
  width: 302px;
  margin: auto;
}
.boardBanner>img {
  border: none !important;
}
:root.banner-opacity #bannerCnt {
  opacity: .5;
  transition: opacity .3s ease-out 0s;
}
:root.banner-opacity #bannerCnt:hover {
  opacity: 1;
}
/* Pages */
.pages.cataloglink {
  margin-left: 12px;
}
.pages.cataloglink a,
input[value='Next'],
input[value='Previous'] {
  font-weight: bold;
  transition: opacity .3s ease-in 0s;
}
.pages strong>a:hover,
.pages.cataloglink a:hover,
input[value='Next']:hover,
input[value='Previous']:hover {
  opacity: .7;
}
.pagelist {
  margin-left: 18px;
  margin-bottom: 15px;
}
:root.reply-fit-width .pagelist {
  margin-left: 0;
}
.pages a {
  padding: 5px 10px;
  margin-left: -1px;
}
.pages strong>a {
  padding-top: 3px;
  transition: opacity .3s ease-in 0s;
}
.next,
.prev {
  border: none !important;
  position: relative;
}
:root.fourchan-x .next a,
:root.fourchan-x .prev a {
  position: relative;
  right: 5px;
}
:root.fourchan-x .prev a::after {
  content: '<';
  position: inherit;
  top: 4px;
  left: 1px;
}
:root.fourchan-x .next a::after {
  content: '>';
  position: inherit;
  top: 4px;
  right: 2px;
}
.pagelist button,
.pagelist button:hover {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  height: 20px;
  width: 20px;
}
.pagelist span {
  opacity: .2;
}
/* /f/ */
#swf-embed {
  z-index: 21;
}
table.flashListing {
  margin-top: 20px;
  margin-bottom: 20px;
}
table.flashListing .highlightPost {
  background: var(--sc-mainColor-shiftM25) !important;
}
.flashListing td {
  padding-left: 4px !important;
  padding-right: 4px !important;
  text-align: center !important;
}
body.board_f #delform .file-info {
  padding-left: 5px;
}
body.board_f #delform .fileText {
  margin-left: 0 !important;
}
/* Ads */
:root.ad-opacity .center img,
:root.ad-opacity .danbo-slot {
  opacity: .5;
  transition: opacity .3s ease-out 0s;
}
:root.ad-opacity .center img:hover,
:root.ad-opacity .danbo-slot:hover {
  opacity: 1;
}
/* Navlinks */
#ctrl-top,
body.is_index div.navLinks {
  padding-top: 5px;
  margin-bottom: 5px;
}
body.is_thread div.navLinks:not(.navLinksBot) {
  padding-top: .4%;
  margin-bottom: .4%;
}
.navLinks.navLinksBot.desktop {
  margin-bottom: 5px;
}
#hoverUI {
  z-index: 75 !important;
}
:root:not(.fourchan-x) div#boardNavMobile {
  padding: 2px 4px;
  overflow: hidden;
  border-bottom: 2px solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  z-index: 9001;
}
:root:not(.fourchan-x) div.pageJump {
  float: right;
  padding-right: 5px;
  padding-top: 3px;
}
#search-box,
#index-search {
  width: 9%;
  transition: color .25s, border-color .25s, width .25s;
}
#search-box:focus,
#index-search:focus {
  width: 12%;
}
/* Thumb Opacity */
:root.thumb-opacity .fileThumb img:not(.full-image) {
  opacity: .5;
  transition: opacity .3s ease-out 0s;
}
:root.thumb-opacity .fileThumb img:not(.full-image):hover {
  opacity: 1;
}
/* Selection Lists */
select {
  appearance: none;
}
/* See issue #90 */
#delform {
  overflow-wrap: break-word;
  word-break: break-word;
  margin-bottom: 15px; /* unrelated to issue #90 */
}
/* Report form */
#reportTypes {
  margin-top: 5px;
}
/* Mascots */
#stylechan-mascots {
  position: fixed;
  bottom: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  pointer-events: none;
}
#stylechan-mascots.mascots-right {
  right: 10px;
}
#stylechan-mascots.mascots-left {
  left: 10px;
}
#stylechan-mascots img {
  max-width: 300px;
  display: block;
}
