.closeIcon {
  background-image: none !important;
}
.closeIcon::after {
  content: 'x';
}
/* Show 4chan Pass users */
:root.no-pu .n-pu {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: -2px;
  background: url(//s.4cdn.org/image/minileaf.gif);
}
/* Thread watcher favicon */
.watch-thread-link {
  margin-bottom: -7px;
  margin-right: 2px;
  top: auto !important;
  bottom: 4px !important;
}
:root.use-sc-icons .watch-thread-link {
  background-image: var(--sc-icon-star) !important;
}
:root.use-sc-icons .watch-thread-link > svg {
  display: none;
}
:root:not(.use-sc-icons).oneechan .watch-thread-link > svg {
  display: inherit !important;
}
/* Backlinks */
:root.backlink-icon .backlink .quotelink {
  font-size: 0 !important;
  padding: " + (($SS.conf["Font Size"] < 12) ? 5 : 6) + "px !important;
  margin-right: 0 !important;
  opacity: 0.6 !important;
  position: relative;
  bottom: 5px;
  left: 2px;
  background-image: var(--sc-icon-backlink) !important;
}
:root.backlink-icon .backlink .quotelink.linkfade {
  font-size: 0 !important;
  padding: 6px !important;
  margin-right: 0 !important;
  opacity: 0.6 !important;
  position: relative;
  bottom: 5px;
  left: 3px;
  background-image: var(--sc-icon-downArrow) !important;
}
:root.backlink-icon .backlink .quotelink:hover {
  opacity: 1 !important;
}
:root.fourchan-x.backlink-icon .backlink,
:root.fourchan-xt.backlink-icon .backlink {
  font-size: 0 !important;
  padding: " + (($SS.conf["Font Size"] < 12) ? 5 : 6) + "px !important;
  margin-right: 0 !important;
  opacity: 0.6 !important;
  position: relative;
  bottom: 5px;
  left: 2px;
  background-image: var(--sc-icon-backlink) !important;
}
:root.fourchan-x.backlink-icon .backlink.inlined,
:root.fourchan-xt.backlink-icon .backlink.inlined {
  font-size: 0 !important;
  padding: 6px !important;
  margin-right: 0 !important;
  opacity: 0.6 !important;
  position: relative;
  bottom: 5px;
  left: 3px;
  background-image: var(--sc-icon-downArrow) !important;
}
:root.fourchan-x.backlink-icon .backlink .quotelink,
:root.fourchan-xt.backlink-icon .backlink .quotelink {
  position: absolute;
  inset: 0;
  font-size: 0 !important;
}
:root.fourchan-x.backlink-icon .backlink.inlined .quotelink,
:root.fourchan-xt.backlink-icon .backlink.inlined .quotelink {
  position: absolute;
  left: 3px !important;
  inset: 0;
  font-size: 0 !important;
}
:root.fourchan-x.backlink-icon .reply .backlink,
:root.fourchan-xt.backlink-icon .reply .backlink {
  bottom: " + (($SS.conf["Font Size"] < 12) ? 4 : 6) + "px !important;
}
/* From 4chanSS */
:root.use-sc-icons img[title=Closed],
:root.use-sc-icons img[title=Sticky],
:root.use-sc-icons img[title=Archived] {
  color: transparent !important;
  font-size: 0 !important;
  background-color: transparent !important;
  background-position: center !important;
  background-repeat: no-repeat;
  display: inline-block;
  height: 0 !important;
  padding-top: 16px !important;
  text-indent: -9999px !important;
  vertical-align: bottom;
  width: 16px !important;
}
/* Thread Closed */
:root.use-sc-icons .closedIcon {
  background-image: var(--sc-icon-threadClosed) !important;
}
/* Thread Pinned */
:root.use-sc-icons .stickyIcon {
  background-image: var(--sc-icon-threadPinned) !important;
}
/* Thread Archived */
:root.use-sc-icons .archivedIcon {
  background-image: var(--sc-icon-threadArchived) !important;
}