/* TODO: Move all 4chan-specific rules here.
*  This allows us to short-circuit in style.js and not read this file when 4chanX is present.
*/
/* Quick Reply */
#qrFile {
  height: 23px;
}
:root.right-sidebar #quickReply,
:root.left-sidebar #quickReply {
  max-width: 300px !important;
}
:root.right-sidebar #quickReply input[type="text"], 
:root.right-sidebar #quickReply textarea, 
:root.right-sidebar #quickReply #recaptcha_response_field,
:root.left-sidebar #quickReply input[type="text"], 
:root.left-sidebar #quickReply textarea, 
:root.left-sidebar #quickReply #recaptcha_response_field {
  max-width: 294px !important;
  min-width: 294px !important;
}
div#qrError {
    width: 290px;
}
#quickReply #qrFile {
  cursor: pointer;
  flex: 1;
  min-width: 0;
  padding: 0 !important;
}
#qrForm > div:last-child {
  display: flex;
  gap: 4px;
}
#quickReply #qrSpoiler,
#quickReply input[type='submit'],
#postForm input[type='submit'] {
  flex-shrink: 0;
}
#quickReply #qrFile::file-selector-button,
#quickReply #qrFile::-webkit-file-upload-button {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  height: 23px;
  padding: 0 6px;
  text-transform: uppercase;
  margin-right: 4px;
}
/* Normal autohide (collapse to header) */
:root.normal-qr #quickReply:not(:hover):not(.focus) {
  width: 303px !important;
}
:root.normal-qr #quickReply:not(:hover):not(.focus) > :not(#qrHeader) {
  display: none !important;
}
:root.normal-qr .qr-transition #quickReply > :not(#qrHeader) {
  transition: opacity .2s ease-in-out .1s;
}
/* QR file button */
#quickReply #qrFile::file-selector-button,
#quickReply #qrFile::-webkit-file-upload-button {
  background: rgb(var(--sc-mainColor-rgb)) !important;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(var(--sc-mainColor-shiftM15)) rgb(var(--sc-mainColor-shiftM15)) rgb(var(--sc-mainColor-shiftM30)) !important;
  color: var(--sc-textColor) !important;
  font-family: " + $SS.formatFont($SS.conf["Font Family"]) + ";
  font-size: " + $SS.conf["UI Font Size"] + "px !important;
}
#quickReply #qrFile:hover::file-selector-button,
#quickReply #qrFile:hover::-webkit-file-upload-button {
  background: rgb(var(--sc-mainColor-shift10)) !important;
}
/* Board banner */
:root:not(.fourchan-x):not(.right-sidebar):not(.left-sidebar) :root:not(#bannerCnt) div.boardBanner > div.boardTitle {
  margin-top: -15px;
  margin-bottom: 10px;
}
:root.right-sidebar :root:not(#bannerCnt) div.boardBanner > div.boardTitle,
:root.left-sidebar :root:not(#bannerCnt) div.boardBanner > div.boardTitle {
  margin-top: 50px;
}
/* Highlights */
:root.highlight-you:not(.fourchan-x) .postContainer.hasQuoteYou > .post {
  border-left: " + $SS.conf["Width Decoration"] + "px solid rgba(var(--sc-quotesYouHLColor-rgb),1.0) !important;
}
:root.highlight-you:not(.fourchan-x) .postContainer.hasQuoteYou > .sideArrows {
  color: rgba(var(--sc-quotesYouHLColor-rgb),1.0) !important;
}
:root.highlight-own:not(.fourchan-x) .yourPost.opContainer,
:root.highlight-own:not(.fourchan-x) .yourPost > .reply {
  border-left: " + $SS.conf["Width Decoration"] + "px dashed rgba(var(--sc-ownPostHLColor-rgb),1.0) !important;
}
:root.highlight-own:not(.fourchan-x) .yourPost > .sideArrows {
  color: rgba(var(--sc-ownPostHLColor-rgb),1.0) !important;
}